[submodule "oh-my-zsh"]
	path = dotfiles/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "repos/homeshick"]
	path = repos/homeshick
	url = https://github.com/andsens/homeshick
